
body {
    background-color: cornsilk;
}

h1 {
    color: crimson;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    color: crimson;
    text-align: center;
    font-family: Merriweather;
}

h3 {
    color:dimgrey;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: Merriweather;
}

p {
    color:dimgrey;
    font-family: Merriweather;
    font-size: 18px;
    width: 700px;
    margin: auto;
}

a:link {
    color: crimson;
    border-bottom: dashed;
    border-bottom: 6px;
}

a:visited {
    color: dimgrey;
}

a:hover, a:active {
    color: lightseagreen;
}

.button1{
    background-color: crimson;
    border: none;
    border-radius: 6px;
    color: beige;
    padding: 15px 32px;
    display: inline-block;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
}

.button1:hover {
   background-color:lightseagreen;    
}

nav {
    display: inline-block;
}

img {
    border-radius: 8px;
}


