body {
    background-color: cornsilk;
}

h1 {
    color: crimson;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    color: crimson;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
}

h3 {
    color: dimgrey;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: Merriweather;
}

p {
    color: dimgrey;
    font-family: Merriweather;
    font-size: 18px;
    max-width: 1000px;
    margin: auto;
}

a:link {
    color: crimson;
    border-bottom: dashed;
    border-bottom: 6px;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color: lightseagreen;
}

.navLink {
    background-color: crimson;
    border: none;
    border-radius: 6px;
    color: beige;
    padding: 15px 32px;
    display: inline-block;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    width: 150px;
    border-bottom: none;
}

.navLink:hover {
    color: beige;
    background-color: lightseagreen;
    border-bottom: none;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    position: relative;
    border-radius: 8px;
}
